:root {
    --color-background: #00030C;

    --color-text-title: #FFFFFF;
    --color-text-text: #F9F9F9;
    --color-text-warning: #C0C0C0;
    --color-btn: #167BF7;
    --color-btn-effect: #3c92fa;


    --font-type-main: 'Inter', sans-serif;
    --font-size-img-sub: 2rem;
    --font-size-header-title: 1.75rem;
    --font-size-header-btn: 1rem;
    --font-size-header-warning: 0.75rem;
    --font-size-big: 3rem;
    --font-size-mid: 1rem;
    --font-size-small: 0.875rem;
    --font-size-mobile-big: 1.5rem;
    --font-size-mobile-mid: 0.75rem;
    --font-size-mobile-small: 0.625rem;
    --font-size-mobile--img-sub: 1rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --radius-size-btn: 8px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
}

.container__mobile {
    display: none;
}

.container__main {
    height: 100vh;
    background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__main__img {
    width: 50%;
    margin-bottom: 32px;
}

.container__main__content {
    margin-inline: 8%;
}

.container__main__title {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-header-title);
    font-weight: var(--font-weight-bold);
    margin-bottom: 22px;
}

.container__main__btn1 {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-header-btn);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    background-color: var(--color-btn);
    border-radius: 8px;
    display: block;
    padding: 1em;
    margin-bottom: 16px;
    margin-inline: 10%;
}

.container__main__btn2 {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-header-btn);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--color-text-title);
    border-radius: 8px;
    display: block;
    padding: 1em;
    margin-bottom: 10px;
    margin-inline: 10%;
}

.container__main__text {
    color: var(--color-text-warning);
    font-family: var(--font-type-main);
    font-size: var(--font-size-header-warning);
    font-weight: var(--font-weight-normal);
}

.container__section {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-items: center;
    margin-inline: 10%;
}

.container__section__rev {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-items: center;
    margin-inline: 10%;
}

.container__section__box__text {
    text-align: left;
    padding-right: 2%;
}

.container__section__btn {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-header-btn);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    background-color: var(--color-btn);
    border-radius: 8px;
    display: inline-block;
    padding: 1em;
    margin-bottom: 16px;
}

.container__section__title {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.2em;
}

.container__section__text {
    color: var(--color-text-text);
    font-family: var(--font-type-main);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    margin-bottom: 1em;
}

.container__section__bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__section__list {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.container__main__img {
    width: 50%;
}

.container__section1__img {
    width: 70%;
    margin-bottom: 5%;
}

.container__section2__img {
    width: 70%;
    margin-bottom: 5%;
}

.container__section3__img {
    width: 70%;
    margin-bottom: 5%;
}

.container__section4__img {
    width: 70%;
}

.container__section__bot__title {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.2em;
}

.container__section__bot__text {
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-img-sub);
    font-weight: var(--font-weight-bold);
}

.container__footer {
    text-align: center;
    margin: 0 5% 5% 5%;
}

.container__footer__menu {
    display: flex;
    justify-content: center;
    color: var(--color-text-title);
    font-family: var(--font-type-main);
    font-size: var(--font-size-mid);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    margin: 2% 16px 2% 0;
}

.container__footer__text {
    color: var(--color-text-warning);
    font-family: var(--font-type-main);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    margin-bottom: 2%;
}

@media (max-width: 1439px) {
    .container__mobile {
        display: block;
    }

    .container__mobile__img {
        width: 100%;
    }
    
    .container__main{
        height: auto;
        background-image: none;
        grid-template-columns: 100%;
    }

    .container__main__content {
        margin-bottom: 5%;
    }

    .container__section {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 10%;
    }

    .container__section__rev {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 10%;
    }
    
    .container__section__box__text {
        text-align: center;
    }

    .container__section__bot {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 10%;
    }
    
    .container__section__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style-type: none;
    }

    .container__section__bot__title {
        font-size: var(--font-size-mobile-big);
    }

    .container__section__bot__text {
        font-size: var(--font-size-mobile-big);
    }

    .container__footer__menu {
        font-size: var(--font-size-mobile-mid);
    }

    .container__footer__text {
        font-size: var(--font-size-mobile-small);
    }

    .container__footer__menu {
        display: grid;
        justify-content: center;
        margin: 2% 0;
    }
}